
<form method="post" action="/students">
  <label for= "first-name">First Name</label>
  <input id="first-name" type="text" name="first_name"/>

  <br/>
  <br/>

  <label for= "last-name">Last Name</label>
  <input id="last-name" type="text" name="last_name"/>

  <br/>
  <br/>

  <label for= "age">Age</label>
  <input id="age" type="text" name="age"/>

  <br/>
  <br/>

  <label for="student-select"> Select a house</label>
  <select id="student-select" name = "house_id">
    <% @houses.each do |house| %>
    <option value= <%=house.id  %>> <%= house.house_name %> </option>
    <% end  %>
  </select>


  <!-- <label for="student-select"> Select a student</label>
  <select id="student-select" name = "house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
  </select> -->

  <br/>
  <br/>

  <input type="submit" value="New student" />

</form>
